@page "/Individuo/Novo/Detalhes"
@using Dominio.Entidades;
@using Dominio.Interfaces;
@using Dominio.ViewModels;
@using GeneticEvoBlazor.Components

@inject NavigationManager NavigationManager;
@inject IMundoServicos IMundoServicos;
@inject IIndividuoServicos IIndividuoServicos;
@inject IIndividuo Individuo

<h2>@Individuo.Nome</h2>

@foreach (var caracteristica in Individuo.Caracteristicas)
{
    <CaracteristicaEditarComponent Caracteristica="@caracteristica"/>
}

<button @onclick="@Finalizar">Finalizar</button>

@code {
    private Mundo mundo;

    protected override async Task OnInitializedAsync()
    {
        mundo = IMundoServicos.GetMundo();
    }
    private void Finalizar()
    {
        IIndividuoServicos.AdicionarIndividuo(mundo, Individuo as Individuo);
        NavigationManager.NavigateTo("/ecosistema");
    }
}
