@page "/mundo"

@using Dominio.Entidades;
@using Dominio.Enumeradores;
@using Dominio.Interfaces;

@inject Mundo mundo;
@inject IIndividuoServicos IIndividuoServicos;
@inject IMundoServicos IMundoServicos;

<div class="container-fluid">
    <h1>Gestão Individuos</h1>

    <NavLink class="nav-link" href="Individuo/Novo">
        <button class="btn btn-primary">Novo Individuo</button>
    </NavLink>
</div>


@code {

    private int currentCount = 0;

    protected override async Task OnInitializedAsync()
    {
        currentCount = mundo.EspecieList.Count;
    }

    private void ProxGeracao()
    {
        IMundoServicos.AvancaGeracao(mundo);
        currentCount = mundo.EspecieList.Count;
    }
}
