@page "/mundo"

@using Dominio.Entidades;
@using Dominio.Enumeradores;
@using Dominio.Interfaces;
@using GeneticEvoBlazor.Components

@inject IIndividuoServicos IIndividuoServicos;
@inject IMundoServicos IMundoServicos;

<div class="container-fluid">
    <h1>Gestão Individuos</h1>

    <NavLink class="nav-link" href="Individuo/Novo">
        <button class="btn btn-primary">Novo Individuo</button>
    </NavLink>

    <NavLink class="nav-link" href="mundo">
        <button class="btn btn-primary" @onclick="resetarMundo">Reset Mundo</button>
    </NavLink>
</div>

@if (MostrarTabela)
{
    <TabelaMundo />
}

@code {

    private int currentCount = 0;
    private Mundo mundo;
    private bool MostrarTabela = true; 

    protected override async Task OnInitializedAsync()
    {
        mundo = IMundoServicos.GetMundo();
        currentCount = mundo.EspecieList.Count;
    }

    public async void resetarMundo()
    {
        MostrarTabela = false;
        IMundoServicos.ZeraMundo();
        mundo = IMundoServicos.GetMundo();

        await Task.Delay(10);
        MostrarTabela = true;
        StateHasChanged();
    }
}
