@page "/"

@using Dominio.Entidades;
@using Dominio.ViewModels;

<h1>Hello, world @_telaInicialModel.NomeJogador!</h1>

Welcome to your new app.

@foreach (var conq in _telaInicialModel.Conquistas)
{
    <p>conq</p>
}

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    private TelaInicialModel _telaInicialModel;

    protected override async Task OnInitializedAsync()
    {
        _telaInicialModel = new TelaInicialModel();
    }
}