@page "/"

@using Dominio.Entidades;

@inject Mundo mundo

<h1>Hello, world!</h1>

Welcome to your new app. @cont cliques!

<SurveyPrompt Title="How is Blazor working for you?" />


@code{
    int cont = 0;

    protected override async Task OnInitializedAsync()
    {
        cont = mundo.EspecieList.Count;
    }
}